{% extends "lab_8/layout/base.html" %}

{% block content %}
<section name="postFeed" id="postFeed">
  <div id='lab8'>
    <button type="button" class="btn btn-primary" onclick="facebookLogin()">Login to Facebook</button>
  </div>
</section>
{% endblock %}
