{% extends "lab_4/layout/base.html" %}

{% block content %}

<div style="text-align : center">
  <img style="height : 120px; width: 120px;"class="img-circle" src="http://vignette2.wikia.nocookie.net/3__/images/2/20/Kirito.png/revision/latest?cb=20160218144042&path-prefix=300-heroes">
  <h3>Ricky Chandra Johanes</h3>
</div>

<hr/>
<section name="bio">
   <h2>Bio</h2>
   <p>
       {{content}}
   </p>
</section>
<hr/>
<section name="about_me">
   <h2>List</h2>
   <ul>
       {% for ii in about_me %}
       <li> {{ ii }} </li>
       {% endfor %}
   </ul>
</section>
<hr/>
<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

{% endblock %}
