{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center">'Testing Person'</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>ID Line</th>
                <th>Birthday</th>
            </tr>
            {% for diary_data in daftarPerson %}
                <tr>
                    <td>{{ diary_data.display_name }}</td>
                    <td>{{ diary_data.phone_number }}</td>
                    <td>{{ diary_data.id_line }}</td>
                    <td>{{ diary_data.birthday }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
