{% extends "lab_6/layout/base.html" %}
{% block content %}

<section name="Chatbox">
  <div class="wrapper">
    <div class="chat-box">
      <div class="chat-head">
        <h2>Chat</h2>
        <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16" id="imageTes">
            </div>
            <div class="chat-body">
            <div class="msg-insert" id="message">
            </div>
            <div class="chat-text">
              <textarea placeholder="Press Enter" onkeypress="chat(event)" id="text"></textarea>
            </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
