{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Fasilkom's Friend</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function (response) {
                    var array = response.results
                    if (array.length === 0) {
                      $('#friend-list').append('<span class="list-group-item alert alert-danger text-center" role="alert"> Tidak ada teman di dalam daftar teman Anda</span>')
                    }
                    else {
                      for (var i = 0; i < array.length; i++) {
                        var button = '<button type="button" class="pull-right btn btn-xs btn-danger"' + 'onClick="deleteFriend(\'' + array[i].npm + '\')">' + '&times; Hapus Teman' + '</button>' + '</div>';
                        var html = '<span><div class="list-group-item clearfix">' + array[i].friend_name + '(' + array[i].npm + ')' + '</a>' + button +'</span>';
                        $('#friend-list').append(html)
                      }
                    }
                },
                error: function(error){
                    alert("Tidak ada teman di daftar teman Anda")
                }
            });
        });

        var deleteFriend = function(npm_mahasiswa){
          $.ajax({
            method : "POST",
            url : "{% url "lab-7:delete-friend" %}",
            data : {npm:npm_mahasiswa}
          });
          window.open('../friend-list/', '_self')
        }
    </script>
{% endblock %}
